:root {
    --primary-color: rgb(255, 92, 92);
    --primary-variant: #ff2d2d;
    --secondary-color: #1b9999;
    --on-primary: rgb(250, 250, 250);
    --on-background: rgb(60, 60, 60);
    --on-background-alt: rgb(60, 60, 60, 0.7);
    --background: rgb(255, 255, 255);
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);

}

[data-theme="dark"] {
    --primary-color: rgb(150, 65, 255);
    --primary-variant: #6c63ff;
    --secondary-color: #03dac5;
    --on-primary: #000;
    --on-background: rgba(255, 255, 255, 0.9);
    --on-background-alt: rgb(255, 255, 255, 0.7);
    --background: #121212;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: Comfortaa, Oswald, sans-serif;
    font-size: 1.25rem;
    color: var(--on-background);
    background-color:var(--on-primary);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v2h-6v6h6v8H8v-6H2v6H0V0zm4 4h2v2H4V4zm8 8h2v2h-2v-2zm-8 0h2v2H4v-2zm8-8h2v2h-2V4z' fill='%2349bdc9' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
    transition: background .4s ease-out;
}

.header {
    width: 100vw;
    background-color: rgb(255 255 255 / 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: fixed;
    z-index: 10;
    font-size: 25px;
}

.nav {
    display: flex;
}

.nav > div {
    padding: 10px;
}

.nav div > a {
    color: var(--primary-color);
    text-decoration: none;
}

.nav div > a:hover {
    text-decoration: underline;
    color: var(--on-background)
}

.toggle {
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mode {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: var(--on-background);
}

.mode > i {
    font-size: 30px;
    margin-left: 10px;
}

/* .nav div a{
    color: ;
    text-decoration: none;
    justify-content: space-around;
} */


/* All Sections */
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* HOME */

.title-group {
    text-align: center;
}

#home h1 {
    font-family: Kaushan Script, sans-serif;
    font-size: 100px;
    margin-bottom: 0;
}

#home h2 {
    color: var(--on-background-alt);
}


/* ABOUT */

#about h1 {
    font-family: Kaushan Script, sans-serif;
    font-size: 100px;
    margin-bottom: 0;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item {
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background: var(--background);
}

.card-item img {
    height: 300px;
    width: 300px;
}

/* PROJECTS */
button {
    min-width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

#projects h1 {
    font-family: Kaushan Script, sans-serif;
    font-size: 100px;
    margin-bottom: 0;
}

.primary {
    background: var(--primary-color);
    color: var(--on-primary);
}

.primary:hover {
    background: var(--primary-variant);
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

.secondary {
    border: 2px solid var(--secondary-color);
}

.secondary, .secondary:hover, .outline.secondary:hover {
    background: var(--secondary-color);
    color: var(--on-primary);
}

.outline {
    background: var(--background);
    color: var(--on-background);
}

.outline:hover {
    background: var(--primary-variant);
    color: var(--on-primary);
}

.text-box {
    width: 45%;
    background: var(--on-background-alt);
    border-radius: 10px;
    color: var(--on-primary);
    padding: 30px;
    margin-top: 50px;
}

.text-box > p {
    text-align: justify;
    font-family: Comfortaa, sans-serif;
}


/* CONTACT */
.fab {
    font-size: 100px;
    margin-right: 50px;
    cursor: pointer;
    color: var(--primary-color);
}

.fab:hover {
    color: var(--on-background);
}
